@font-face {
  font-family: "iconfont"; /* Project id 4586722 */
  src: url('iconfont.woff2?t=1756191397523') format('woff2'),
       url('iconfont.woff?t=1756191397523') format('woff'),
       url('iconfont.ttf?t=1756191397523') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-printer:before {
  content: "\eb48";
}

.icon-refresh:before {
  content: "\e65f";
}

.icon-male:before {
  content: "\e68c";
}

.icon-female:before {
  content: "\e69b";
}

